---
import Section from "../Section.astro";
const { basics } = Astro.props;
const { summary } = basics;
import { t } from "i18next";
---

<Section title={t("About")}>
  <p>
    {summary}
  </p>
</Section>
